
out/
unsupported-actions/

# output for CSV and report files
output/

# cache data sources
# Note: match against cache in "root of repo", thus excludes src/cache
/cache/

# NodeJS
node_modules/

# Python
venv/

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

.DS_Store
